p{
	color:green;
	background-color: lightyellow;
	max-width: 60%;
	outline: solid;
	margin: 0px auto 0px;
	text-align: center;
	/*display: none;*/
}

#foodItem{
	display: none;
}

.food_item, .restaurant_name{
	color : lightblue;
	min-height: 25px;
	outline: solid;
	outline-color: white;
	text-align: center;
	margin:10px;
	margin-left: auto; margin-right: auto;
	padding: 5px 0px 5px;
	z-index: 99;
}

.food_item{
	max-width: 20%;
}

.food_item:hover{
	outline-color:black;
}

.restaurant_subheading{
	margin-left : auto; margin-right: auto;
	text-align : center;
	color : #999999;
	text-transform : uppercase;
}


.restaurant_name{
	max-width: 35%;
	outline: dashed;
	outline-color: red;
	outline-width: 15px;
	outline-style: outset;
	margin: 50px auto 50px;
	font-weight: 750;
	font-size: 24px;
	color: #999FFF;
	font-outline: black;
}

.menuID0{
	font-style: oblique;
	font-family: "Times New Roman",Times,serif;
}

